.user-info-wrapper
  .user-info-wrapper__logo
    = link_to root_path, class: 'user-info-wrapper__logo--link' do
      = image_tag asset_path("logo.png"), size: "185x49"

  .user-info-wrapper__main
    .user-info-wrapper__main__head
      登録が完了しました
    = link_to root_path, class: "user-info-wrapper__main__head--back" do
      トップページに戻る    