.app-banner
  .app-banner__inner
    %h1.app-banner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.app-banner__inner__text
      今すぐ無料ダウンロード！
  .app-banner__app-btn
    = link_to "#" do
      = image_tag "app-store", size: "180x54", alt: "ICON" 
    = link_to "#" do
      = image_tag "google-play", size: "180x54", alt: "ICON" 
