.edit-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#preview {
  display: flex;
  flex-wrap: wrap;
  .preview-box {
    margin-right: 5px;
    margin-bottom: 5px;
    .upper-box {
      vertical-align: bottom;
    }
    .lower-box {
      line-height: 45px;
      font-weight: bold;
      color: #3CCACE;
      display: flex;
      justify-content: space-between;
      .update-box {
        background-color: #f5f5f5;
        padding: 0 10px;
        outline: 1px solid #dcdcdc;
        cursor: pointer;
        cursor: hand;
      }
      .delete-box {
        background-color: #f5f5f5;
        padding: 0 10px;
        outline: 1px solid #dcdcdc;
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

.add-box {
  width: 100px;
  height: 148px;
  font-size: 15px;
  line-height: 100;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #dcdcdc;
  color: #ffffff;
  margin-bottom: 3px;
  .add-text {
    margin-top: 15px;
  }
}

.add-delete-box {
  line-height: 45px;
  font-weight: bold;
  color: #3CCACE;
  text-align: center;
  width: 100px;
  background-color: #f5f5f5;
  padding: 0 10px;
  outline: 1px solid #dcdcdc;
  cursor: pointer;
  cursor: hand;
}

.image-icon {
  width: 100px;
  height: 100px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  color: #ffffff;
  margin-bottom: 3px;
  .image-text {
    margin-top: 15px;
  }
}

.hidden-field {
  display: none;
}
.hidden-destroy {
  display: none;
}

