* {
  box-sizing: border-box;
}

html {
  color: #000;
  background: #FFF;
}


.wrapper {
  height: 100vh;
  width: 100%;
}


.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  margin-bottom: 30px;
  padding: 12px;
  font-weight:850;
}


.header {
  background-color: #FFF;
  height: 107px;
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__search-box {
        margin-left: auto;
        width: 100%;
        margin-bottom: 8px;
        display: flex;
        &--text {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
          &--form{
            width: 100%;
            height: 100%;
            padding: 0 0 0 5px;
          }
        }

        &--submit-btn {
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 7px;
        }
      
      }
    }
    &__nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      &__left {
        position: relative;
        display: flex;
        &__category {
          padding-right: 45px;
        }
        &__brand {
        }
      } 
      &__right {
        margin-left: auto;
        display: flex;
        &__login {
          padding-right: 20px;
        }
        &__new {
        }
      }
      ul {
        text-decoration: none;
      }
      a {
       color: #333;
       text-decoration: none;
      }
    }
  }
}


.main {
  background: #f8f8f8;
  section {
    display: block;
  }
  &__visual {
    width: 100%;
    height: 560px;
    background-image: image-url("mainVisual-pict.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 215px 0 0 0;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;        
      }
      &__app-btn {
        display: flex;
        margin: 24px 0 0 0;    
        a:first-child {
          margin-right: 10px;
        }
        a:hover {
          @include cursor-hover();
        }    
      }
    }
  }
  &__top-introduction {
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
     }
     &__title::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
     }     
    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto; 
      &__list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          img {
            @include img-size;
          }
          &__number {
            height: 56px;
            width: 56px;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  &__top-app-dl {
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      padding-top: 100px;
      &__title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__app-btn {
        display: flex;
        a:first-child {
          margin-right: 10px;
        }
        a:hover {
          @include cursor-hover();
        }
      }
    }
  }
  &__top-key-features {
    padding: 60px 100px;
    background-color: #fff;
    &__head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__head::after {
      content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }
    &__items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        img {
          @include img-size;
        }
        &__title {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
       }
    }
  }
  &__top-pickup-contents {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    &__head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__product-box {
      &__head {
        text-align: center;
        a {
          text-decoration: none;
          color: #3CCACE;
          h3 {
            font-size: 26px;
            font-weight: bold;
          }
        }
      }
      &__search-word {
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
        font-weight: bold;
      }

      &__lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        a {
          text-decoration: none;
          position: relative;
        }
        &__list {
          width: 220px;
          display: inline-block;
          float: left;
          a {
            background-color: #fff;
            display: inline-block;
         }
         &__image {
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          text-align: center;
         }
         &__body {
          background-color: white;
          color: #333;
          padding: 16px;
          &__name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          &__details {
            font-size: 16px;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            p {
              font-size: 10px;
              text-align: left;              
            }
          }
         }          
        }
      }
    }
  }
  &__top-pickup-contents:last-child {
    padding-bottom: 80px;
  }
}

.app-banner {
  background-image: image-url("appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4)
    }
  }
  &__app-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    a:first-child {
      margin-right: 10px;
    }
    a:hover {
      @include cursor-hover();
    }
  }
} 

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;        
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
        display: block;
      }
    }
  }
  ul {
    list-style: none;
  }
  &__log {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
  }
}


.wrapper {
  background-color: #f5f5f5;
  height: 100%;
}

.item-wrapper {
  background-color: #ffffff;
  margin: 40px auto 20px;
  padding: 24px 40px 40px;
  width: 700px;
  box-sizing: border-box;
  color: #333;

  &__title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
  }

  &__main-content {
    margin: 16px 0px 0px;
    display: flex;
    justify-content: space-between;

    &__image {
      background-color: #fafafa;
      width: 300px;
      height: 375px;
      &__first {
        width: 300px;
        height: 375px;
        object-fit: contain;
      }
    }

    &__status {
      width: 100%;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;

      &__table {
        border: 1px solid #f5f5f5;
        font-size: 14px;
        
        &__left {
          text-align: left;
          width: 39%;
          font-weight: 400;
          background-color: #fafafa;
          padding: 8px;
        }

        &__right {
          width: 61%;
          background-color: #ffffff;
          padding: 8px;
          #user {
            color: #333;
          }
          #category {
            color: #3CCACE;
          }
          #brand {
            color: #333;
          }
        }
      }
    }
  }
  &__price {
    margin-top: 24px;
    text-align: center;
    
    &__icon {
      font-size: 50px;
      display: inline-block;
    }

    &__item {
      font-size: 50px;
    }

    &__tax {
      font-size: 10px;
    }

    &__postage-side {
      font-size: 16px;
    }
  }

  &__btn-wrapper {
    &__sold-out {
      background-color: #f5f5f5;
      color: #333;
      margin: 30px 50px;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
      font-size: 20px;
      border-radius: 10px;
    }
    &__edit-destroy-btn {
      display: flex;
      justify-content: space-between;
      margin: 27px 85px;
      line-height: 50px;
      font-weight: bold;
      &__edit-btn {
        width: 200px;
        display: block;
        background-color: #f5f5f5;
        font-size: 22px;
        text-align: center;
        border-radius: 10px;
        #edit-btn {
          color: #333;;
        }
      }
      &__destroy-btn {
        width: 200px;
        display: block;
        background-color: #333;
        font-size: 22px;
        text-align: center;
        border-radius: 10px;
        #destroy-btn {
          color: #f5f5f5;
        }
      }
    }

    &__buy-btn {
      display: block;
      background-color: #3CCACE;
      font-size: 24px;
      line-height: 60px;
      margin: 30px 50px;
      font-weight: bold;
      text-align: center;
      border-radius: 10px;
      #buy-btn {
        color: #ffffff;
      }  
    }

    &__not-current {
      width: 90%;
      display: block;
      font-size: 15px;
      line-height: 40px;
      margin: 30px auto 0;
      text-align: center;
      #buy-not-current {
        color: #3CCACE;
        font-weight: bold;
      }
    }
  }

  &__description {
    padding: 24px 0px 0px;
    line-height: 1.5;
    font-size: 14px;
  }
}

.comment-wrapper{
  background-color: #ffffff;
  margin: 20px auto 40px;
  padding: 24px 40px 0px;
  width: 700px;
  box-sizing: border-box;
  color: #333;
  text-align: center;

  &__index {
    text-align: left;
    &__info {
      display: flex;
      margin-bottom: 2px;
      &__user {
        margin-right: 10px;
        padding-left: 10px;
        a{
          color: #3CCACE;
          font-size: 16px;
        }
      }
      &__date {
        font-size: 14px;
      }
    }
    &__content {
      background-color: #f8f8f8;
      line-height: 3;
      font-size: 17px;
      padding-left: 15px;
      border-radius: 10px;
    }
  }

  &__sold-out {
    padding: 25px 0 15px;
    color: #333;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__form {
    &__text {
      width: 100%;
      margin: 20px 0px 15px;
      padding: 10px;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
    }
    &__msg {
      padding: 8px 12px;
      font-size: 14px;
      background-color: #f8f8f8;
      margin: 10 0;
      text-align: left;
    }
    &__btn {
      width: 60%;
      margin-top: 20px;
      background-color: #3CCACE;
      border-radius: 10px;
      color: #ffffff;
      font-size: 18px;
      line-height: 48px;
      margin-bottom: 40px;
      border: #3CCACE
    }
  }

  &__not-current {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    padding-bottom: 20px;
    #not-current {
      color: #3CCACE;
      font-weight: bold;
    }
  }
}

body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}