.wrapper-purchase {
  background: #f8f8f8;
  height: 100vh;
  width: 100%;
}

.simple-header {
  height: 128px;
  h1 {
    text-align: center;
    line-height: 180px;
  }
  a {
    cursor: pointer;
  }
}


.main {
  background: #f8f8f8;
  width: 100%;
  padding-bottom: 20px;
  &__inner {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    border-style: solid;
    border-width: 0;
    section {
      padding: 32px 16px;
    }
    &__title {
      text-align: center;
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      border-bottom: 1px solid whitesmoke;
      font-weight: bold;
    }
    &__select-item {
      border-bottom: 1px solid whitesmoke;
      &__inner {
        max-width: 343px;
        margin: 0 auto;
        &__item-box {
          display: flex;
          &__image {
            height: 100px;
            width: 100px;
            img {
              width: auto;
              max-height: 100px;
            }            
          }
          &__detail {
            margin-left: 16px;
            padding: 15px 0 0 15px;
            &__name {
              font-size: 16px;
              margin: 0;
              line-height: 1.5;
              text-align: left;              
            }
            &__price {
              margin: 0;
              text-align: left;
              font-size: 15px;
              font-weight: bold;
              margin-top: 10px;
              &__shipping-fee {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    &__purchase-info {
      padding-bottom: 48px;
      &__inner {
        max-width: 343px;
        margin: 0 auto;
        &__price-box {
          display: flex;justify-content: space-between;
          font-weight: bold;
          font-size: 20px;
          height: 60px;
          border-bottom: 1px solid whitesmoke;
        }
        &__credit-card-info {
          @include purchase-inner-info();
          &__detail {
            font-size: 13px;
          }  
          &__logo {
            margin-top: 8px;
            img {
              vertical-align: middle;
            }
          }      
        }
        &__delivery-info {
          @include purchase-inner-info();
          &__detail {
            font-size: 13px;
          }  
        }
        &__last-content {
          transition: all ease-out .3s;
          text-align: left;
          padding: 24px 0;
          &__delivery-guide {
            font-size: 13px;
            color: #888;
            padding-bottom: 24px;
          }
          button {
            background-color: #3CCACE;
            color: #FFF;
            font-weight: bold;
            display: block;
            width: 100%;
            line-height: 48px;
            height: 50px;
            font-size: 18px;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }
}

.simple-footer {
  background: #f8f8f8;
  text-align: center;
  padding-bottom: 30px;
  &__info {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    padding-right: 20px;
    font-size: 13px;
    color:black;
    cursor: pointer;
  }
  a:hover{
    text-decoration: underline;
  }
  p {
    font-size: 12px;
  }
}