// showページのSCSS
.detail-wrapper {
  background-color: #ffffff;
  margin: 40px auto 20px;
  padding: 24px 40px 40px;
  width: 700px;
  box-sizing: border-box;
  color: #333;

  &__title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
  }

  &__content {
    margin: 16px 0px 0px;
    display: flex;
    justify-content: space-between;

    &__images {
      width: 300px;
      max-height: 555px;
      &__active {
        background-color: #fafafa;
        &__image{
          width: 300px;
          height: 375px;
          object-fit: contain;
        }
      }
      &__thumbnail {
        background-color: #fafafa;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li {
          width: 20%;
        }
        &__list {
          &__image {
            width: 60px;
            height: 60px;
            object-fit: cover;
            vertical-align: bottom;
          }
        }
      }
      &__thumbnail:empty {
        background-color: #ffffff;
      }
    }

    &__table {
      width: 100%;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;

      tr {
        border: 1px solid #f5f5f5;
        font-size: 14px;
        
        td {
          text-align: left;
          width: 39%;
          font-weight: 400;
          background-color: #fafafa;
          padding: 8px;
        }

        th {
          width: 61%;
          background-color: #ffffff;
          padding: 8px;
          #user {
            color: #333;
          }
          #category {
            color: #3CCACE;
          }
          #brand {
            color: #333;
          }
        }
      }
    }
  }
  &__price {
    margin-top: 24px;
    text-align: center;
    
    &__icon {
      font-size: 50px;
      display: inline-block;
    }

    &__figure {
      font-size: 50px;
    }

    &__tax {
      font-size: 10px;
    }

    &__fee {
      font-size: 16px;
    }
  }

  &__btn {
    &__sold {
      background-color: #f5f5f5;
      color: #333;
      margin: 30px 50px;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
      font-size: 22px;
      border-radius: 30px;
    }
    &__management {
      display: flex;
      justify-content: space-between;
      margin: 35px 0 20px;
      line-height: 60px;
      font-weight: bold;
      &__edit {
        width: 48%;
        display: block;
        background-color: #f5f5f5;
        font-size: 26px;
        text-align: center;
        border-radius: 30px;
        #edit {
          color: #333;
        }
      }
      &__destroy {
        width: 48%;
        display: block;
        background-color: #333;
        font-size: 24px;
        text-align: center;
        border-radius: 30px;
        #destroy {
          color: #f5f5f5;
        }
      }
    }

    &__buy {
      display: block;
      background-color: #3CCACE;
      font-size: 27px;
      line-height: 60px;
      margin: 35px 0 20px;
      font-weight: bold;
      text-align: center;
      border-radius: 30px;
      #buy {
        color: #ffffff;
      }  
    }

    &__unregist {
      width: 90%;
      display: block;
      font-size: 15px;
      line-height: 40px;
      margin: 30px auto 0;
      text-align: center;
      #unregist {
        color: #3CCACE;
        font-weight: bold;
      }
    }
  }

  &__detail {
    margin: 30px 10px 0;
    line-height: 2;
    font-size: 15px;
  }
}

.comment {
  background-color: #ffffff;
  margin: 20px auto 40px;
  padding: 24px 40px 0px;
  width: 700px;
  box-sizing: border-box;
  color: #333;
  text-align: center;

  &__index {
    text-align: left;
    &__yet {
      text-align: center;
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__info {
      display: flex;
      margin-top: 15px;
      &__user {
        margin-right: 10px;
        padding-left: 10px;
        a{
          color: #3CCACE;
          font-size: 16px;
        }
      }
      &__date {
        font-size: 14px;
      }
    }
    &__content {
      background-color: #f8f8f8;
      line-height: 3;
      font-size: 17px;
      padding-left: 15px;
      border-radius: 10px;
    }
  }

  &__sold {
    padding: 25px 0 15px;
    color: #333;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__form {
    text-align: center;
    &__text {
      width: 100%;
      margin: 20px 0px 15px;
      padding: 10px;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
    }
    &__msg {
      padding: 8px 12px;
      font-size: 14px;
      background-color: #f8f8f8;
      margin: 10 0;
      text-align: left;
    }
    &__btn {
      width: 60%;
      margin: 30px 0;
      background-color: #3CCACE;
      border-radius: 30px;
      color: #ffffff;
      font-size: 19px;
      line-height: 50px;
      border: #3CCACE
    }
  }

  &__unregist {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    padding-bottom: 20px;
    #unregist {
      color: #3CCACE;
      font-weight: bold;
    }
  }
}

body {
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}