* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 241, 241);
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

a{
  color: #000;
  text-decoration: none;
}

.container{
  &__main{
    width: 1020px;
    margin: 40px 390px;
    display: flex;
    &__left{
      float: left;
      width: 280px;
      margin:0 40px 0 0;
      &__list{
        height: 81px;
        line-height: 81px;
        padding-left: 16px;
        background-color: #fafafa;
        font-size: 14px;
        border:1px solid rgb(243, 241, 241);
      }
    }
    
    &__right{
      float: right;
      width: 700px;
      position: relative;
      &__backimage{
        width: 700px;
        height: 250px;
        object-fit: cover;
      }
      &__user-image{
        border-radius: 100%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 2px rgba(0,0,0,7);
      }
      &__user-name{
        text-align: center;
        font-size: 14px;
        color: #fafafa;
        margin: 0 auto;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-shadow: 2px 2px 2px rgba(0,0,0,7);
      }
        .div{
          display: inline-block;
          margin: 0 0 0 16px;
        }
      &__title{
        display: flex;
        border-bottom: 1px solid #fafafa;
        border-top: 2px solid #3CCACE;
        background-color: #fafafa;
        border:1px solid rgb(243, 241, 241);
      
        &__notice{
          width: 350px;
          height: 70px;
          line-height: 70px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
        }
        &__todo-list{
          font-size: 16px;
          width: 350px;
          height: 70px;
          line-height: 70px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
        }
      }
      &__contents{
        height: 53px;
        cursor: pointer;
        padding: 0 16px;
        font-size: 12px;
        overflow: hidden;
        line-height: 53px;
        border-bottom: 1px solid #fafafa;
        background-color: #fafafa;
      }
      &__view-list{
        height: 53px;
        cursor: pointer;
        padding: 0 16px;
        text-align: center;
        font-weight: bold;
        line-height: 53px;
        background-color: #fafafa;
        border:1px solid rgb(243, 241, 241);
      }
      &__mypage{
        margin: 40px 0 0;
        background: #fafafa;
        height: 300px;
        &__head{
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          padding-left: 15px;
          font-weight: bold;
        }
        &__tab{
          background: #eee;
          height: 73px;
          margin: 40px 0 0;
        }
          ul{
            list-style: none;
            display: flex;
            height: 73px;
            border-top: 2px solid #3CCACE;
          }
            li{
              font-weight: bold;
              font-size: 16px;
              display: inline-block;
              text-align: center;
              width: 50%;
              padding-top: 20px;
            }
      }
    }
  }
}